<%= content_for :title, 'Sign up' %>

<%= content_for :message do %>
  <%= render 'shared/authentication/error_messages', user: @user %>
<% end %>

<%= form_with model: @user, url: registration_url, class: 'space-y-5 grid' do |form| %>
  <div class="group grid">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, autofocus: true, placeholder: 'Enter your name', value: params[:name], class: 'rounded-lg focus:border-indigo-600' %>
  </div>
  <div class="group grid">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: 'username', placeholder: 'Enter your email address', value: params[:email_address], class: 'rounded-lg focus:border-indigo-600 w-full' %>
  </div>
  <div class="group grid">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autofocus: true, autocomplete: 'new-password', placeholder: 'Enter your password', class: 'rounded-lg focus:border-indigo-600' %>
  </div>
  <div class="group grid">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true, autofocus: true, autocomplete: 'current-password', placeholder: 'Enter your password confirmation', class: 'rounded-lg focus:border-indigo-600' %>
  </div>
  <div class="group grid space-y-5">
    <%= form.submit 'Sign up', class: 'bg-indigo-600 text-white p-2 rounded-lg' %>
    <%= link_to 'Sign in', new_session_path, class: 'outline outline-2 outline-indigo-500 p-2 text-center rounded-lg text-indigo-600' %>
  </div>
<% end %>
