<section class="h-screen mt-[5rem] mx-5">
  <%= render 'shared/components/header', title: 'Products' %>
  <div class="max-w-[60rem] mx-auto mt-5">
    <div>
      <%= render 'shared/components/filter',
                 search: {
                   field: :search,
                   placeholder: 'Search...',
                 },
                 filter: [
                   {
                   field: :category,
                   collections: @categories,
                   placeholder: 'Select Category'
                  }
                 ],
                 date_filter: false %>
    </div>
    <% if @products.present? %>
      <div class="grid grid-cols sm:grid-cols-3 md:grid-cols-4 gap-3 justify-center">
        <% @products.each do |product| %>
          <%= render 'products/product_card', product: %>
          <%= render 'shared/components/modal', title: product.name, param: "product_details_modal_#{product.id}" do %>
            <%= render 'products/show_modal', product: %>
            <% content_for :additional_button, flush: true do %>
              <%= form_with(url: add_item_cart_path(product_id: product.id), method: :post, class: 'inline-block') do |form| %>
                <%= form.submit 'Add to cart', class: 'flex items-center inline-block justify-center rounded-md bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-white cursor-pointer' %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <% if params[:search].present? %>
        <h2 class="text-center">Opps...! There are no products with the name "<%= params[:search] %>".</h2>
      <% else %>
        <h2 class="text-center">There are no products.</h2>
      <% end %>
    <% end %>
    <div class="flex justify-center py-10">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</section>
