<%= content_for :title, 'Update your password' %>

<%= content_for :message do %>
  <%= render 'shared/authentication/error_messages' %>
<% end %>

<%= form_with url: password_path(params[:token]), method: :put, class: 'space-y-5 grid' do |form| %>
  <div class="group grid">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: 'new-password', placeholder: 'Enter new password', class: 'rounded-lg focus:border-indigo-500' %>
  </div>
  <div class="group grid">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: 'new-password', placeholder: 'Repeat new password', class: 'rounded-lg focus:border-indigo-500' %>
  </div>

  <%= form.submit 'Save', class: 'bg-indigo-600 text-white p-2 rounded-lg' %>
<% end %>
