<%= content_for :title, 'Reset password' %>

<%= content_for :message do %>
  <%= render 'shared/authentication/error_messages' %>
<% end %>

<%= form_with url: passwords_path, class: 'space-y-5 grid' do |form| %>
  <div class="group grid">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: 'username', placeholder: 'Enter your email address', value: params[:email_address], class: 'rounded-lg focus:border-indigo-500' %>
  </div>
  <%= form.submit 'Email reset instructions', class: 'bg-indigo-600 text-white p-2 rounded-lg' %>
  <%= link_to 'Sign in', new_session_path, class: 'text-indigo-600 outline outline-2 outline-indigo-500 text-center rounded-lg p-2' %>
<% end %>
