<div class="flex w-full max-w-xs flex-col overflow-hidden rounded-xl border border-gray-100 bg-white h-80">
  <div class="flex h-40 overflow-hidden rounded-t-xl cursor-pointer" data-controller="modal" data-action="click->modal#show" data-modal-dialog-param="product_details_modal_<%= product.id %>">
    <%= image_tag product.image_url, alt: product.name, class: 'object-cover mx-auto cursor-pointer', loading: 'lazy' %>
  </div>
  <div class="flex flex-col justify-between flex-grow px-3 pb-3">
    <button type="button" class="text-start" data-controller="modal" data-action="click->modal#show" data-modal-dialog-param="product_details_modal_<%= product.id %>">
      <span class="font-semibold text-gray-800 line-clamp-2" title="<%= product.name %>">
        <%= product.name %>
      </span>
    </button>
    <div class="mt-2 mb-5">
      <h3 class="text-xl"><span class="font-bold text-red-500">$ <%= product.price %></span></h3>
    </div>
    <%= form_with(url: add_item_cart_path(product_id: product.id), method: :post, class: 'inline-block') do |form| %>
      <%= form.submit 'Add to cart', class: 'flex items-center inline-block justify-center rounded-md bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-white cursor-pointer' %>
    <% end %>
  </div>
</div>
