<div class="flex justify-between space-x-4">
  <% if filter %>
    <div class="my-5">
      <div class="pt-2 relative mx-auto text-gray-600">
        <%= form_with method: :get do |form| %>
          <%= form.select filter[:field].to_sym,
                          options_from_collection_for_select(filter[:collections], :id, :name, selected: params[filter[:field]]),
                          { prompt: filter[:placeholder] },
                          onchange: 'this.form.submit();',
                          class: 'border border-gray-300 bg-white h-10 px-5 pr-16 rounded-full text-sm focus:border-indigo-500' %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <% if search %>
    <div class="my-5">
      <div class="pt-2 relative mx-auto text-gray-600">
        <%= form_with method: :get do |form| %>
          <%= form.search_field search[:field].to_sym, class: 'border border-gray-300 bg-white h-10 px-5 pr-16 rounded-full text-sm focus:border-indigo-500',
                                placeholder: search[:placeholder],
                                value: params[search[:field]],
                                onblur: 'this.form.submit();' %>
        <% end %>
        <button type="button" class="absolute right-0 top-0 mt-5 mr-4">
          <%= heroicon 'magnifying-glass', options: { class: 'h-4 w-4' } %>
        </button>
      </div>
    </div>
  <% end %>
</div>
