<nav class="border sticky z-10 top-5 items-center max-w-[35rem] bg-white mx-auto p-3 rounded-full flex justify-between">
  <div class="mx-3">
    <h5 class="font-semibold text-indigo-600">WalleTrack</h5>
  </div>
  <div class="text-sm space-x-2">
    <%= link_to 'Products', root_path, class: 'font-normal text-sm active:underline active:underline-offset-8 active:decoration-2' %>
    <%= link_to 'Transactions', transactions_path, class: 'font-normal text-sm active:underline active:underline-offset-8 active:decoration-2' if authenticated? %>
  </div>
  <div class="mx-3 flex space-x-2 items-center items-center">
    <% if authenticated? %>
      <div data-controller="drop-down" data-drop-down-open-value="false">
        <%= button_tag type: :button,
                    class: 'font-normal text-sm bg-yellow-500 p-1 rounded-lg text-white',
                    data: {
                      'drop-down-open-value': false,
                      'drop-down-target': 'activated',
                      action: 'click->drop-down#toggleDropdown'
                    } do %>
          <%= heroicon 'shopping-cart', options: { class: 'w-5 h-5' } %>
        <% end %>
        <div data-drop-down-target="dropdownContent" class="bg-white border rounded-xl fixed p-4 rounded-md mt-5 max-w-[20rem]">
          <% if @cart_items.present? %>
            <div class="grid gap-2 max-h-[15rem] overflow-scroll">
              <% @cart_items.each do |item| %>
                <%= render 'carts/cart_card', item: %>
              <% end %>
            </div>
            <h6 class="text-sm font-semibold flex justify-between my-2">Total: <span class="text-red-500">$ <%= @total_price %></span></h6>
            <button type="button" class="bg-indigo-500 p-2 text-white rounded-xl w-full" data-controller="modal" data-action="click->modal#show" data-modal-dialog-param="checkout_modals">Checkout</button>
          <% else %>
            <h5 class="text-md text-center my-3 mx-2">The cart is empty!</h5>
          <% end %>
        </div>
      </div>
      
      <div class="h-5 w-[2px] bg-indigo-500"></div>
      <%= form_with url: session_path, method: :delete do |form| %>
        <%= button_tag type: 'submit', class: 'bg-red-500 text-sm align-middle p-1 rounded-lg text-white' do %>
          <%= heroicon 'arrow-right-on-rectangle', options: { class: 'w-5 h-5' } %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to 'Sign in', new_session_path, class: 'font-normal text-sm' %>
      <div class="h-5 w-[2px] bg-indigo-500"></div>
      <%= link_to 'Sign up', new_registration_path, class: 'font-normal text-sm' %>
    <% end %>
  </div>
  
  <% if authenticated? %>
    <%= render 'shared/components/modal', title: 'Checkout', param: "checkout_modals" do %>
      <h3 class="text-xl">Are you sure want to checkout this item?</h3>
      <div class="grid gap-2 max-h-[15rem] overflow-scroll">
        <% @cart_items.each do |item| %>
          <%= render 'carts/checkout_card_item', item: %>
        <% end %>
      </div>
      
      <h5 class="truncate text-xl font-semibold my-3 flex justify-between">Total: <span class="text-red-500">$ <%= @total_price %></span></h5>
      
      <%= form_with url: purchase_path, class: 'space-y-5 grid', method: :post do |form| %>
        <div class="group grid gap-3">
          <div class="group grid">
            <%= form.hidden_field :total, value: @total_price %>
            <%= form.label :payment_method, 'Payment Method' %>
            <%= form.select :payment_method,
                            options_for_select([['Wallet', 'wallet']]),
                            { prompt: 'Select payment method' },
                            { class: 'rounded-lg focus:border-indigo-600', required: true } %>
          </div>
        </div>
        <div class="group grid space-y-5">
          <%= form.submit 'Top up', class: 'bg-indigo-600 text-white p-2 rounded-lg' %>
        </div>
      <% end %>
      <% content_for :additional_button, flush: true do %>
        <%= form_with(url: '#', method: :post, class: 'inline-block') do |form| %>
          <%#= form.submit 'Add to cart', class: 'flex items-center inline-block justify-center rounded-md bg-indigo-500 px-5 py-2.5 text-center text-sm font-medium text-white cursor-pointer' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</nav>
